/* 1 */
.background {
-fx-background-color: #dad7cd;
}

/* 2 */
.foreground {
    -fx-fill: #272838;
}

.highlight {
    -fx-fill: #ff6b6b;
}

.accent {
    -fx-fill: #7e7f9a;
}

/* 3 */
VBox Group Rectangle {
    -fx-stroke: rgb(70, 155, 75);
    -fx-stroke-width: 5px;
    -fx-stroke-type: inside;
}

/* 4 */
VBox Group Rectangle {
    -fx-stroke: rgb(70, 155, 75);
    -fx-stroke-width: 5px;
    -fx-stroke-type: inside;
    -fx-fill: rgba(0, 0, 0, 0); /* Fully transparent fill */
}

/* 5 */
VBox Group Circle {
    -fx-fill: #7e7f9a;
}

/* 6 */
.hyperlink {
    -fx-text-fill: #ff6b6b;
    -fx-underline: true;
}
.hyperlink:visited {
    -fx-text-fill: #272838;
}

/* 7 */
.combo-box .arrow-button {
    -fx-background-color: #ff6b6b;
}
.combo-box .arrow-button .arrow {
    -fx-background-color: white;
}

/* 8 */
.check-box .box .mark {
    -fx-background-color: #7e7f9a;
}

/* 9 */
#button-row {
    -fx-alignment: center-right;  /* Center vertically and align right horizontally */
}
